<!DOCTYPE html>
<html>
<head>
  <title>Proyecto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<nav>
		<ul class="center-xs uldenav row">
			<li class="col-md"><a href="./">Inicio</a></li>
			<li class="col-md"><a href="./estudiantes">Estudiantes</a></li>
			<li class="col-md"><a href="#">Herramientas</a></li>
			<li class="col-md"><a href="#">Otros</a></li>
		</ul>
	</nav>
</header>
<main>
<%= yield %>
</main>
</body>
</html>
